@tailwind base;
@tailwind components;
@tailwind utilities;
.root{
font-family: 'Roboto', sans-serif;
}
/*HOME*/
.Home{
margin: 0 auto;
width: 85%;;
    height:50vh;
    background: linear-gradient(
    #ee1515 20%,
    #f00000 20%,
    #222224 35%,
    #f0f0f0 75%,
    #f0f0f0 80%
  );
  height: 55vh;
}
/*PokedexGeneral*/
.Img_general{
width:100%;

}
.Img_general img{
height:5vh;
}
/*Pokedex*/
.PokeCard{
display:grid;
gap:rem;
grid-template-columns:repeat(auto-fill, minmax(190px, 1fr));
grid-template-rows:auto;
justify-item:center;
margin-left:15%;
margin-right:15%;
}
.searchText{
display:flex;
justify-content:center;
gap:15px;
margin-top:20px;
margin-left:16%;
border:solid 1px;
width:64%;
padding:15px;
}
.searchText h3{
font-size:15px;
font-weight: bold;
}
.ContainerButton{
margin: 25px;
  display:flex;
  justify-content:center;
  font-size:10px;
  gap:10px;
  margin-right:40%;
}
.ButtonPreNext{
  width:20%;
  font-size:15px;
  background:  #222224;
  border-radius:4.5px;
  color:white;
}
.buttonPage{
  width: 35px;
  aspect-ratio:1;
  display:flex;
  justify-content: center;
  align-item:center;
  color:white;
  background: #222224;
  border-radius:30%;
}
.ButtonAct,
.buttonPage:hover{
  color:#062226;
  background: #7E7E7E;
  cursor:pointer;
}
/*CardPokemon*/
.CardPoke{
max-height:95%;
max-width:85%;
margin-left:10px;
border: 5px solid;
margin-bottom: 15px;
background: linear-gradient(
    #ee1515 20%,
    #f00000 20%,
    #222224 35%,
    #f0f0f0 75%,
    #f0f0f0 80%
  );
}
.InfoPoke{
font-size: 13px;
text-align:center;
}
.PokeInfo1{
display:flex;
flex-direction:row;
gap: 72px;
justify-content:center;
}
.PokeInfo2{
display:flex;
flex-direction:row;
gap: 32px;
justify-content:center;
text-align:center;
}
.PokeInfo1 h3, .PokeInfo2 h3{
font-size:15px;
font-weight: bold;
text-align:center;
}
.PokeInfo1 p, .PokeInfo2 p{
font-size:14px;
text-align:center;
color:#f00000;
font-weight: bold;
}
.ListInfoPke h3{
display:flex;
flex-direction:column;
}
.InfoPoke h2{
font-size: 22px;
font-weight: bold;
}
.imgPke{
width:70%;

}
/*Pokemon*/
.imgeDet{
width:50%;
margin:0 auto;
}
.imgeDet img{
width:200px;
margin-left:20%;
display:flex;
justify-content:center;
}
.namePokedel{
 color:white;
 width:50%;
}
.namePokedel h2{
  padding-top:15%;
font-size:35px;
font-weight: bold;
}
.namePokedel p{
  color:black;
  font-size:25px;
  font-weight: bold;
  margin-left:15%;
 }
.InfoPokeDel{
  border: 5px solid;
  background: linear-gradient(
    #ee1515 20%,
    #f00000 20%,
    #222224 35%,
    #f0f0f0 75%,
    #f0f0f0 80%
  );
  margin: 0 auto;
  width: 60%;

}
.ImgNamePoke{
display:flex;
flex-direction:row;
}
.PokeWei{
  margin-top:5%;
  display:flex;
  flex-direction:row;
  margin-left:12%;
  gap:22%;
}
.PokeWei h3{
background:black;
color:white;
font-weight: bold;
font-size: 25px;
}
.PokeWei p{
  color:black;
  font-weight: bold;
  font-size: 25px;
  }
.ListInfoPoke{
  padding:12px;
  margin: 0 auto;
  margin-bottom:5%;
  width:85%;
  background:#f0f0f0;
  display:flex;
  flex-direction:column;
}
.InfoPokeList{
  display:grid;
  gap:2rem;
  grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows:auto;
  justify-item:center;
  margin-left:15%;
  margin-right:15%;
}
.ListInfoPke h3{
  text-align:center;
border:solid #8a9597;
width:80px;
font-weight: bold;
}
.ListInfoPke p{
  text-align:center;
  background:black;
  color:white;
  width:80px;
  font-weight: bold;
  }

/*Loader*/
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}
/**/

@media (max-width: 995px){
  .InfoPokeList{
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
      }
  .ListInfoPke h3{
  width:60px;
  font-size:12px;
  
  }
  .ListInfoPke p{
    width:60px;
    font-size:12px;
    }
  .ButtonPreNext{
    width:20%;
  }
  .buttonPage{
    width: 25px;
    height: 15px;
  }
  .ContainerButton{
    margin: 25px;
      display:flex;
      justify-content:center;
    }
    .searchText h3{
      font-size:12px;
      }
  .searchText{
    gap:10px;
    } 
  .searchText input,
  .searchText select,
  .searchText button{
    font-size:15px;
  }

}


@media (max-width:841px){
  .imgeDet{
    width:40%;
    }
   
    .namePokedel h2{
    padding-top:25%;
    font-size:25px;
    }
    .namePokedel p{
     font-size:20px;
     }

    .PokeWei{
      margin-top:2%;
      margin-left:10%;
      gap:15%;
    }
    .PokeWei h3{
    font-size: 20px;
    }
    .PokeWei p{
      font-size: 20px;
      }
    .InfoPokeList{
      grid-template-columns:repeat(auto-fill, minmax(80px, 1fr));
    }
    .ListInfoPke h3{
      font-size:15px;
    }
    .ListInfoPke p{
      font-size:15px;
      } 
}

@media (max-width:600px){
  .InfoPokeList{
    grid-template-columns:repeat(auto-fill, minmax(30px, 1fr));
      }
  .ListInfoPke h3,
  .ListInfoPke p{
  width:50px;
  font-size:10px;
  
  }
  .imgeDet{
    width:30%;
  }
    .namePokedel h2{
    font-size:25px;
    }
    .namePokedel p{
      font-size:18px;
     }
    .PokeWei{
      gap:8%;
    }
    .PokeWei h3{
    font-size: 18px;
    }
    .PokeWei p{
      font-size: 18px;
      }
    
}
@media (max-width:533px){
  .searchText input,
  .searchText select,
  .searchText button{
    font-size:10px;
  }
  .TextBien p{
    font-size:15px;
  }
  .buttonPage{
    gap:5px;
  }
}
@media (max-width:415px){
  .TextHome h1{
font-size:15px;
  }
  .TextHome p{
    font-size:12px;
      }
  .FormHome{
    font-size:10px;
  }
  .searchText{
    width:75%;
  }
  .searchText h3{
    font-size:12px;
    }
    .ContainerButton{
      gap:5px;
    }
  .namePokedel h2{
    font-size:15px;
  }
  .PokeWei h3,
  .PokeWei p{
    font-size:15px;
  }
}

